ahlev-django-uikit==0.0.6
asgiref==3.2.10
asn1crypto==0.24.0
cliapp==1.20180812.1+git
cryptography==2.6.1
distro==1.3.0
-e git+https://github.com/django/django.git@f06beea92999407cc8dad3c47f006b7c727095a6#egg=Django
django-crispy-forms==1.10.0
django-filter==2.4.0
django-uikit-editor==0.0.1
django-widget-tweaks==1.4.8
entrypoints==0.3
keyring==17.1.1
keyrings.alt==3.1.1
onboard==1.4.1
pexpect==4.6.0
Pillow==5.4.1
pycairo==1.16.2
pycrypto==2.6.1
PyGObject==3.30.4
PyQt5==5.15.1
PyQt5-sip==12.8.1
pysmbc==1.0.15.6
pytz==2020.1
pyxdg==0.25
PyYAML==5.3.1
QtAwesome==1.0.1
QtPy==1.9.0
reportlab==3.5.13
SecretStorage==2.3.1
six==1.12.0
sqlparse==0.4.1
ttystatus==0.38+git
UIkit==0.0.1
