{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <section>
        <div class="gap gray-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row" id="page-contents">
                            {% include 'includes/sidebar.html' %}
                            <div class="col-lg-6">
                                {% if channels %}
                                    <div class="topbar stick">
                                        <div class="top-area">
                                            <ul class="setting-area">
                                                {% for channel in channels %}
                                                    <a href="{% url 'user_channels:video-channel' channel.uuid %}">
                                                        <li>
                                                            <img src="{{ request.user.photo.url }}" alt="" style="height: 40px; width: 40px;">
                                                            {{channel.channel_name}}
                                                        </li>
                                                    </a>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}